.svgContainer {
  width: 20vw;
  height: 35vh;
}

.styledSvg {
  width: 100%;
  height: 50%;
  transform: scale(2);
}

.parrafoContainer h2 {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 30px;
  color: #ffffff;
  padding-top: 95px;
  text-align: center;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 100;
    fill: transparent;
  }

  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}

.styledPath {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: textAnimation 5s ease-in-out forwards;
}

/* Optimizaciones para diferentes resoluciones */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
}

@media screen and (max-width: 768px) {
  .svgContainer {
    width: 30vw;
    height: 20vh;
  }
  .parrafoContainer h2 {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 23px;
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .svgContainer {
    width: 40vw;
    height: 20vh;
  }
  .parrafoContainer h2 {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 23px;
    color: #ffffff;
    padding-top: 25px;
    text-align: center;
  }
}
