---
import AdvancedSearch from "@/components/SearchLibros";
import Layout from "@/layouts/Layout.astro";
import { getLibros } from "@/utils/GraphQL";
const libros = await getLibros();
export const prerender = false;

---

<Layout title="Biblioteca">
   <div class="my-40"></div>
   <AdvancedSearch client:load posts={libros}/>
   <div class="my-20"></div>
</Layout>