---
import Layout from "@/layouts/Layout.astro";
import LibrosContainer from "../components/LibrosContainer.astro";
import "../../global.css";
import CarouselMaterial from "@/components/CarouselMaterial";
---

<Layout title="Octavio Marulanda Morales">
  <div class="relative">
    <!-- <IntroLoader client:load /> -->
    <main class="relative">
      <CarouselMaterial client:only="react" />
      <LibrosContainer />
      <div style={{ paddingTop: "30px" }}></div>
      <div style={{ paddingBottom: "50px" }}></div>
    </main>
  </div>
</Layout>
