---
import LayoutIntro from "@/layouts/LayoutIntro.astro";
import { ViewTransitions } from 'astro:transitions';
import "../../global.css";
import AnimatedBanner from "@/components/intro/AnimatedBanner/AnimatedBanner";
---

<html lang="es">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <title>Octavio Marulanda Morales</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <LayoutIntro title="Octavio Marulanda Morales">
      <AnimatedBanner client:only="react" />
    </LayoutIntro>
  </body>
</html>
