---
import EfectoFooter from "./EfectoFooter.astro";
---

<div class="contenedor-main-footer overflow-hidden w-full h-[320px] md:h-[40vh] lg:h-[50vh] 2xl:h-[55vh] border-t-2 relative">
  <EfectoFooter />
    <div class="w-full h-auto contendor-footer absolute bottom-0">
      <div class="footer w-screen lg:max-w-[85vw] m-auto">
        <div class="w-full h-auto text-center">
          <h2 class="leading-[70px]">© 2024 Todos los derechos reservados</h2>
          <p
            class="lg:w-[50%] w-[80%] h-auto m-auto text-[14px] lg:text-base mb-10"
          >
            Esta web representa la vida y obra del ilustre Octavio Marulanda
            Morales. <br> Diseñado y contruido por <b>NODOS</b> 
          </p>
        </div>
        <div class="w-full h-auto footer-imagen">
          <img
            class="imagen-footer m-auto lg:w-[60%]"
            src="/img/logo octavio-footer.png"
            alt="Imagen del nombre de Octavio Marulanda Morales"
          />
        </div>
      </div>
  </div>
</div>
