.bannerText {
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  width: 80%;
  color: #fff;
}

.parrafoContainer {
  max-width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 5;
  padding-bottom: 100px;
}

.visible {
  opacity: 1;
}

.parrafoContainer p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 20px;
  text-align: justify;
  color: #ffffff;
}
.parrafoContainer h2 {
  margin-bottom: 20px;
  line-height: 1.4;
  font-size: 25px;
  color: #ffffff;
}

.continuar {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.continuarLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: 2px solid #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.continuarLink:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateX(10px);
}

.arrow {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.continuarLink:hover .arrow {
  transform: translateX(5px);
}

/* Optimizaciones para diferentes resoluciones */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
}

@media screen and (max-width: 768px) {
  .parrafoContainer {
    width: 85%;
    letter-spacing: 1px;
    top: 62vh;
  }
  .parrafoContainer p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .parrafoContainer {
    width: 85%;
    letter-spacing: 1px;
    top: 60vh;
  }

  .parrafoContainer p {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 16px;
  }
}
